*.iml
.gradle
/local.properties

# IntelliJ IDEA / Android Studio
.idea/
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# SDD plan
docs/plans